@model FavBooks.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <p class="card-text"><b>@Html.DisplayNameFor(model => model.Summary):</b> @Html.DisplayFor(model => model.Summary)</p>
</div>
<div class="my-5">
    <a asp-action="Index">Back to List</a>
</div>
